<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos</title>
     <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    
    {{#each helado}}
    <div class="Productos">
        <a href="/producto/{{sabor}}">
            <div>
                     <img src="{{imagen}}" alt="">
                <h3>
                    <b>{{Nombre}}</b>
                </h3>
            </div>



        </a>



    </div>
    {{/each}}
</body>

</html>