<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nuevo</title>
</head>

<body>
    {{#each helado}}
    <div style="flex:1 1 40%">
        <a href="/peoducto/{{sabor}}">
            <div>
                <p>
                    <b>{{holi}}</b>
                    <p>{{sabor}}</p>
                </p>


            </div>



        </a>



    </div>
</body>

</html>