<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nuevo</title>
</head>

<body>
    {{#each helado}}
    <div style="flex:1 1 40%">
        <a href="/producto/{{sabor}}">
            <div>

                <h3>
                    <b>{{Nombre}}</b>
                </h3>
                <h5>
                    <p>{{sabor}}</p>
                </h5>
                <img src="{{imagen}}" alt="">

            </div>



        </a>



    </div>
    {{/each}}
</body>

</html>