
* {
    margin: 0;
    padding: 0;
    text-decoration:none;
}

body{
 background-color:white;
 font-family: 'Montserrat', sans-serif;
.header{
    .holi{
        position: absolute;
        margin-top: 25px;
        margin-left: 15px; 
      }
    
      h2{
          position: relative;
          color:#ee7b7b;
          font-size: 40px;
         padding-top: 120px;
         font-weight: 700;
          padding-left: 270px;
      }
}
   
.productos {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    
    

    .producto{
      
        margin-top: 250px;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-left: 10px;  
       
    }
}

.filtro {
    
    font-family: 'Montserrat',sans-serif;
    margin-top: 190px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
    
    h3 {
        color: darkgrey;
        font-weight: 900;
        letter-spacing: 5mm;
    }
  
}
}