*{
    margin: 0;
    padding: 0;
    text-decoration:none;
}

body{
    
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;  
    margin-top: 40px;
    .producto{
        font-family: 'Montserrat', sans-serif;  
        color:#432150;
        font-size:105px; 

        .imagen:hover{
            transform: scale(1.1);
            
        }
    }
        

    }
